<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Prdocuts</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Add Prdouct</h2>
        </div>
        <div class="row mt-5">
            {{!-- image --}}
            <div class="col-md-6">
                <img src="img/add.png" alt="" class="img-fluid">
            </div>
            {{!-- form handling --}}
            <div class="col-md-6">

                 <form action="/api/product" method="POST">
            <div class="add_prdouct">
                <div class="mb-3">
                    <label for="name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" name="prod_name" value="" placeholder="product name">
                </div>
                <div class="mb-3">
                    <label for="description"  class="form-label">Product Description</label>
                    <input type="text" class="form-control" name="prod_dec" value="" placeholder="product decsription">
                </div>
                 <div class="mb-3">
                    <label for="price"  class="form-label" >Product Price</label>
                    <input type="number" class="form-control" name="prod_price" value="" placeholder="product price">
                </div>
               
                <div class="mb-3">
                    <label for="gender" class="form-label">Status</label>
                    <div class="form-check">
                        <input type="radio"  class="form-check-input" name="prod_status" value="Active">
                        <label for="radio1" class="form-check-label">Active</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input"  name="prod_status" value="Inactive">
                        <label for="radio2" class="form-check-label">Inactive</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description"  class="form-label">Product Url</label>
                    <input type="text" class="form-control" name="prod_url" value="" placeholder="product url">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </div>
        </form>
            </div>
        </div>
      
       
    </div>

    {{>footerLinks}}
</body>

</html>